ul {
  list-style: none;
}
.gallery {
  display: flex;
  width: 1440px;
  padding: 24px 156px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.gallery-item {
  width: calc((100% - 2 * 24) / 3);
}
.gallery-image {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
}